@mixin add-dague($urlImage) {
    width: 80px;
    height: 26px;
    background-image: url($urlImage);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

$title-grey: #5f5f5f;

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/**
 Define the environnement of the character AER
 **/
.sheet-aer-character {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url("../img/Fond.png");
    background-repeat: no-repeat;
    background-size: 1100px auto;
    background-position: center;
    overflow: hidden;

    /**
     * Common style
     **/
    .sheet-aer-header {
        margin: 0 auto;
        padding: 8px 0;
        display: block;
        width: 394px;
        max-width: 394px;
        min-height: 90px;
        max-height: 90px;
        background-image: url("../img/fiche-personnage.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .sheet-aer-character-content {
        flex: 1 1 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        
        table {
            td {
                vertical-align: top;
            }

            .aer-table-title {
                text-align: center;
                color: $title-grey;
                font-size: 20px;
                font-weight: bold;
            }

            .aer-table-vertical {
                thead {
                    th {
                        @extend .aer-table-title;
                    }
                }
            }

            .aer-table-horizontal {
                tbody {
                    td:first-child {
                        @extend .aer-table-title;
                    }
                }
            }

            .aer-character-left {
                display: flex;
                flex-direction: column;
                padding: 0 16px;
            }
        }

        h2 {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                display: flex;
                flex-direction: row;
                color: $title-grey;

                &::before {
                    @include add-dague("../img/dague-gauche.png");
                    display: block;
                    content: "";
                    margin-right: 8px;
                    
                }

                &::after {
                    @include add-dague("../img/dague-droite.png");
                    display: block;
                    content: "";
                    margin-left: 8px;
                }
            }

        }

        input {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid black;
            padding: 8px;
        }

        .sheet-parchemin {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 50px;
            background-image: url("../img/Parchemin.png");
            background-repeat: no-repeat;
            background-size: contain;
            text-align: center;

            .sheet-value {
                @extend input;

                border: 0;
                font-size: 16px;
                color: black;
                width: 45px;
                text-align: center;
            }
        }

        .sheet-parchemin-long {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../img/parchemin-long.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 120px;
            height: 90px;
            text-align: center;

            .sheet-value {
                @extend input;

                border: 0;
                font-size: 16px;
                color: black;
                width: 45px;
                text-align: center;
            }
        }
    }

    /**
     * Colonne de gauche
     **/
    .sheet-aer-identity {
        display: flex;
        flex-direction: column;

        .sheet-aer-identity-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .sheet-aer-identity-left {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 8px 0;
                    align-items: center;

                    label {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    input {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid black;
                        padding: 8px;
                    }
                }
            }

            .sheet-aer-identity-right {
                @extend .sheet-aer-identity-left;
            }
        }
    }

    .sheet-aer-attribut {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        td {
            vertical-align: middle !important;
        }
    }

    .sheet-aer-skills {
        display: flex;
        flex-direction: column;

        .sheet-aer-skills-row {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .sheet-aer-box {
                display: flex;
                flex-direction: column;

                h3 {
                    text-align: center;
                }

                .sheet-skill-expand-row {
                    display: flex;
                    flex-direction: row;
    
                    .sheet-title {
                        width: 8px * 10;
                        text-align: center;
                    }
                }
    
                .sheet-aer-skill-list {
                    width: 112px;
                    display: flex;
                    flex-direction: row;
                    list-style: none;
    
                    li {
                        position: relative;
                        margin-left: 8px;
    
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .sheet-aer-circle {
            position: absolute;
            left: 0;
            display: block;
            width: 24px;
            height: 24px;
            background-image: url("../img/Point-competence-vide.png");
            background-repeat: no-repeat;
            background-size: contain;

            &.sheet-active {
                background-image: url("../img/Point-competence-plein.png");
            }
        }
    }


    /**
    * Colonne de droite
    */

    .sheet-aer-status {
        display: flex;
        flex-direction: column;

        .sheet-aer-status-row {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .sheet-avatar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .sheet-avatar-img {
            display: block;
            width: 200px;
            height: 200px;
            background-image: url("../img/Avatar.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .sheet-aer-experience {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sheet-aer-monnaie {
        display: flex;
        flex-direction: column;
        justify-content: center;

        td {
            vertical-align: middle !important;
        }

        .sheet-label {
            font-weight: bold;
        }
    }
}




